<!DOCTYPE html>
<html>
   <head>
     <title>Mangrove Classification </title>
     <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/assets/css/main.css') }}"/>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/assets/css/schedule.css') }}"/>
     <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='/assets/js/main.js') }}"/>
     <meta name="viewport" content="width=device-width,
        initial-scale=1">
  </head>
<body>
    <div id="page-wrapper">
        <!-- Header -->
            <div id="header">
                <!-- Inner -->
                    <div class="inner">
                        <header>
                            <h1>Mangrove Image Classification</h1> 
                         </header>
                    </div>
                            <!-- Nav -->
              {% include 'nav.html' %}
            </div>

            {% include 'scroll.html' %}
            
    </div>
    <!-- what we are --> 
			<div class="wrapper style1">

                <section id="features1" class="container special">
                    <header>
                        </br>
                        <h3 style="text-align: left"> Why Mangroves? </h3>
                        <p style="font-size:1.3em;text-align:left;margin-left:auto;margin-right:auto;">
                            Mangrove forests are highly productive ecosystems and play a vital role in carbon sequestration. 
                            Accurately monitoring their growth in an automated way has presented a challenge for many 
                            conservation groups, especially those with smaller budgets who may not have the financial 
                            resources to deploy satellites or expensive drones with multispectral sensors. 
                            Drones with cheaper sensors have the advantage of accessibility,
                             but a streamlined workflow for drone imagery classification is still lacking.

                        <br>
                        <br>
                        This image classification tool is an accessible and automated workflow for conservation groups 
                        to quantify the amount of mangroves within their site by allowing them to upload cheaply 
                        acquired high resolution imagery (drone imagery) to a website and quantify the amount of
                         mangroves in their site using a CNN.
                        </p>
                    </header>
                </section>
            </div>

 <!-- OUR TEAM
<div class="wrapper style1">

    <section id="features2" class="container special">
                    <header>
                
                        <h2> Our Team</h2>
                    </header>
                    <div class="row">
                        <article class="col-12 col-12-mobile special">
                            <a class="image featured"><img src="static/images/nicole.jpg" alt="" /></a>
                            <header>
                                <h3><a>Nicole Meister</a></h3>
                            </header>
                            <p style="text-align: center;">

                                <a href = "https://github.com/nmeister/" target = "_blank"> <i  class="fab fa-github"></i> </a>
                                <a href = "https://www.linkedin.com/in/nicole-meister-063b29177" target = "_blank"> <i class="fab fa-linkedin"></i> </a>
                            </p>
                        </article>
                    </div>
                </section>
-->
                

            </div>


            <!-- OTHER --> 
        <div class="wrapper style1">

                <section id="features4" class="container special">
                    <header>
                        </br>
                        <h3>Feedback</h3>
                        <p>Found a bug or want to give us feedback? Fill out this <a target="_blank" href="https://forms.gle/WyTVNBottFjaNnG9A" style="color:#0d7746;text-decoration-color:#0d7746;">form</a>. <br>Thanks so much for trying out this tool!</p>
                    </header>
                </section>
            </div>

        {% include 'footer.html' %}


        <script src="static/pacApp/assets/js/jquery.min.js"></script>
        <script src="static/pacApp/assets/js/jquery.dropotron.min.js"></script>
        <script src="static/pacApp/assets/js/jquery.scrolly.min.js"></script>
        <script src="static/pacApp/assets/js/jquery.scrollex.min.js"></script>
        <script src="static/pacApp/assets/js/browser.min.js"></script>
        <script src="static/pacApp/assets/js/breakpoints.min.js"></script>
        <script src="static/pacApp/assets/js/util.js"></script>
        <script src="static/pacApp/assets/js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        


</body>
</html>

</body>
</html> 