<!DOCTYPE html>
<html>
   <head>
     <title>Mangrove Classification </title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/assets/css/main.css') }}"/>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/assets/css/schedule.css') }}"/>

     <meta name="viewport" content="width=device-width,
        initial-scale=1">
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>
   

	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Header -->
				<div id="header">
					<!-- Inner -->
						<div class="inner">
							<header>
								<h1>Mangrove  Image Classification</h1>
							</header>
							<footer>
                        <!-- Change this to div tag not a href-->
								<a href="#classify"><div href = "#" class="button circled scrolly"><span style="font-size:0.8em;">Classify  </span></div></a>
							</footer>
						</div>
								<!-- Nav -->
                  {% include 'nav.html' %}
				</div>

				{% include 'scroll.html' %}
				
		</div>
      
      <br>
      <!-- {% if summary %}
         <p class=summary><strong>Model Summary:</strong> {{ summary }}
      {% endif %}-->
      
      <br>

      <ul class=flashes>
         {% for message in messages %}
           <li>{{ message }}</li>
         {% endfor %}
      </ul>

      <div class="container">
         <div class='col-sm-6'>
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <h3 id='upload'>  <i class="fa fa-leaf"></i> File Upload</h3>
                     <p> Choose .zip file to upload. Click Upload to unzip automatically. Unzipped tiles will be displayed on the right. </p>
               
                     <form id='uploadForm' action="{{ url_for('upload')}}" onsubmit="return validateUpload(this);" method="POST" enctype=multipart/form-data>
                           <input id='file' type=file name=file>
                           <br>
                           <!-- <p id='hiddenUploadText'> <i class="fa fa-cloud-upload"></i>  Upload </p> -->

                           <input id='fileUploadSubmit' type=submit value="Upload"> 
                     </form>
                        
                     
                  </div>
               </div>
            </div>
         </div>   
         <div class='col-sm-6'>
            <div class="container">
               <div class="row">
                  <h3 id='classify'>  <i class="fa fa-leaf"></i> Classify </h3>
               </div>
               <div class="col-sm-12">
                  <p> After uploading the file and all tiles exist, click below to leverage <a href='about'>machine learning</a> to classify the drone imagery.</p>
               </div>
               <div class="col-sm-12">
                  <div class="panel panel-default">
                     <div class="panel-heading">Tiles in Storage</div>
                        <div class="panel-body">
                        <p id="resultsParagraph">(None)</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-12">
                  <!-- <form action="classify" method="get" onsubmit=validate()> -->
                  <button onclick="validate()">Classify Images</button>
                  <!-- loading icon but currently hidden-->
                  <div id="loading" style= "visibility: hidden;color:#008346;font-weight:700;"><span id="msg"></span><i class="fa fa-spinner fa-spin" style="margin-left:0.5em;"></i></div>
      
                  <p id='classification_msg'> 
                  </p>
                  
               <!-- if you want to pass a variable to the server name = variable name-->     
               </div>           

             </div>      
         </div>
      </div>
      
      
      <br>
      
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
                <h3 id='visualize'>  <i class="fa fa-leaf"></i> Visualize Mangrove Classification </h3>    
                <br>

                
                <form action="prep_classification" method="get">
                  <input type="submit" value="Prepare Visualization">
               </form>
                <iframe src="http://127.0.0.1:8050/visualization/_dash-update-component" width='100%' height='1000'></iframe>  
               <!-- <iframe src="https://classifymangroves.herokuapp.com/visualization/_dash-update-component" width='100%' height='1000'></iframe> -->
               <br>            
            </div>
         </div>
         
         <!--         
         <div class="col-sm-4">
            <img src="/static/images/0.jpg" alt ='' width="100%">
            <h4> Non-mangrove Classification</h4>    
         </div>
         
        
         <div class="col-sm-4">
            <img src="/static/images/1.jpg" alt ='' width="100%">
            <h4> Mangrove Classification</h4> 
      
         </div>
         -->

   
         <!-- <div class="col-sm-4">
            <img src="../p.jpg" alt ='' width='100%'>    
            <h4> Class Probabilities </h4>           
        </div> -->
      </div>
      
<br>
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
                <h3 id='download'>  <i class="fa fa-leaf"></i> Download </h3>    
                <br>
                <div class="row">
                  <p> After classifying your image, click below to download the respective .shp and .tif files. </p>   
                </div>
                
                <div class="col-sm-4">
                  <h4> Non-mangrove Classification</h4>    
                  <form action="download_nm" method="GET" >  
                     <button type="submit" style='width: fit-content;'>
                        <i class="fa fa-download"></i>  Download
                    </button>
                    
                  </form>         
               </div>
               
              
               <div class="col-sm-4">
                  <h4> Mangrove Classification</h4> 
                  <form action="download_m" method="GET" >  
                     <button type="submit" style='width: fit-content;'>
                        <i class="fa fa-download"></i>  Download
                    </button>
                    
                  </form>                  
               </div>

               <div class="col-sm-4">
                  <h4> All files</h4> 
                  <form action="download" method="get">
                     <button type="submit" style='width: fit-content;'>
                        <i class="fa fa-download"></i>  Download
                    </button>
                  </form>                    
               </div>


            </div>
         </div>
      </div>
      <br>

   </body>

   <script src="static/assets/js/breakpoints.min.js"></script>
   <script src="static/assets/js/jquery.scrolly.min.js"></script>
   <script src="static/assets/js/jquery.scrollex.min.js"></script>
   <script src="static/assets/js/jquery.min.js"></script>
   <script src="static/assets/js/jquery.dropotron.min.js"></script>
   <script src="static/assets/js/browser.min.js"></script>
   <script src="static/assets/js/util.js"></script>
   <script src="static/assets/js/main.js"></script>

   
</html>